.ourCoffeeMain {
    height: 260px;
    background-color: #BAA46F;
    background: url('../../img/background/coffee-bg.png') center center/cover no-repeat;
}

.coffee-title {
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}