.forYourPleasure {
    height: 260px;
    background-color: #34281B;
    background: url('../../img/background/pleasure-bg.png') center center/cover no-repeat;
}

.pleasure-title {
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}